* {
    background-color: rgb(41, 117, 231);
}
body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  
a {
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

.logo img {
    height: 35px;
}

.signup-form {
    width: 400px;
    height: 450px;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.signup-form h1 {
    color: rgb(43, 43, 43);
    background-color: white;
}

.signup-form fieldset {
    background-color: white;
    height: 80%;
    border: 0;
}

.signup-form label {
    text-align: left;
    margin-top: 20px; 
    display: block;
    background-color: white;
}

.signup-form div {
    margin-left: auto;
    margin-right: auto;
    width:  320px;
    background-color: white;
}

.signup-form input , button {
    width:  320px;
    height: 55px;
    border: 2px solid lightgrey;
    border-radius: 4px;
    padding: 15px 15px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

.signup-form button {
    background-color: rgb(42, 209, 42);
    border: 2px solid rgb(42, 209, 42);
    border-radius: 4px;
    font-size: 22px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.signup-form button:hover {
    background-color: rgb(34, 175, 34);
    border: 2px solid rgb(34, 175, 34);
}

main p, p a {
    text-align: center;
    color: white;
}

main p a {
    text-decoration: white underline;
}